#s5_navv li, #s5_search_wrap #mod_search_searchword, #s5_top_row1_wrap, #s5_top_row2_wrap, #s5_top_row3_wrap, #s5_center_column_wrap, #s5_left_column_wrap, #s5_right_column_wrap, #s5_bottom_row1_wrap, #s5_bottom_row2_wrap, #s5_bottom_row3_wrap, .s5_vm_name, .s5_vm_image, .s5_vm_price, .s5_vm_add_to_cart  {
	direction:rtl;
	text-align:right;}

#s5_nav li {
	float:right;}
	
.s5_float_left {
    float: right;}	
	
#s5_columns_wrap_inner .s5_float_left {
    float: left !important;}	

#s5_logo {
	float:right;
	background-position:top right;}
	
.ion-social-whatsapp-outline.quote {
    float: left;}
	
.s5_quotetext {
    margin-left: 13px;}
	
.s5_logo {
    float: right !important;
    margin-right: 23px !important;
    margin-left: 45px !important;}
	
#s5_requestquote {
    float: left;}
	 
#s5_login, #s5_register {
	margin-right:8px;
	margin-left:0px;}

#s5_search_wrap {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
	border-left:none;
    float: left;
    margin-right: 22px;
	margin-left:0px;
    padding-right: 18px;}
    
	.icon_search_close {
        float: left;
        margin-left: 60px;}
	
#s5_footerleft {
    float: right;}
	
#s5_bottom_menu_wrap ul.menu li {
    float: right;}
	
#s5_custom_2 {
    float: left;}
	
#s5_custom_1 {
    float: right;
    margin-right: 14px;	
	margin-left:0px;}

#s5_bottom_row3_area1 #s5_quick_contact .s5_qc_select {
    float: right;}

#s5_bottom_row3_area1 #s5_quick_contact .s5_qc_name_wrap {
    float: right;
	margin-right:0px;
    margin-left: 12%;}	
	
#s5_bottom_row3_area1 #s5_quick_contact .s5_qc_email_wrap {
    float: right;
	margin-right:0px;
    margin-left: 12%;}
	
.s5_footericons {
    margin-right: 18px !important;}
	
.contentheading {
	float:right;}

#s5_pos_banner {
	float:left;}

#s5_loginreg {
	float: left;}

#accordion_inner, #s5_pos_top_row1_1 {
	direction:ltr;}

.jcomments-links {
	text-align:right;
	direction:ltr;}

.article_column .contentpaneopen {
	padding-right:0px;
	padding-left:15px;}

#loading_img {
	visibility:hidden;}

.latestnews li, .mostread li, .sections li, .s5_module_box ul.menu a {
	background-position:center right;}

ul.actions li {
    float:left;}
	
.ac-container label, .ac-container2 label, .ac-container article p, .ac-container2 article p {
	text-align:right;}
	

li.pagenav-next {
float:left;
}

li.pagenav-prev {
float:right;
}

ul.actions {
float:left;
}

.pull-right {
float:left;
}

.pull-right > .dropdown-menu {
    right: auto !important;
	left:0 !important;
}	
		
	


/* Accordion Menu
----------------------------------------------------------- */

#s5_accordion_menu h3.s5_am_parent span.s5_accordion_menu_left {
	padding-right:32px;}

div.s5_accordion_menu_element li a {
	background:url("../images/arrow.png") no-repeat scroll left center transparent !important;
	padding-right:20px;
	padding-left:0px;}

#s5_accordion_menu h3.s5_am_parent span.s5_accordion_menu_left {
	padding-right: 16px !important;
    background: url("../images/s5_acc_r_parent.png") no-repeat scroll left -27px rgba(0, 0, 0, 0) !important;}
	
#s5_accordion_menu h3.s5_am_parent span.s5_accordion_menu_left:hover {
    background: url("../images/s5_acc_r_parent_hover.png") no-repeat scroll left -27px rgba(0, 0, 0, 0) !important;}	
	
	

/* Flex Menu
----------------------------------------------------------- */

#s5_nav, #subMenusContainer {
	direction:rtl;}

.s5_sub_wrap, .s5_sub_wrap_lower {
	padding-right:0px;
	padding-left:6px;}

.s5_sub_wrap_lower {
	padding-right:6px;}

#subMenusContainer a, #s5_nav li li a {
	text-align:right;	}
	
.subParentBtn .S5_submenu_item a {
	background:none;}


/* End Flex Menu
----------------------------------------------------------- */
#login li, #form-login li {
	background-position:center right;}

#s5box_login, #s5box_register {
    direction:rtl;}

	
/* Template Specific
----------------------------------------------------------- */
.s5_daydate { padding-right: 9px;}
.s5_first {  padding-right: 9px;}
.s5_datewrapper {  float: right;margin-left: 9px;}
.contentheading { padding-top: 4px;}
.s5_articlespacer {display:block;}
.product_addtocart {direction:ltr;}
.s5_addtocartdropdown { direction: rtl;}



/* Template Defaults
----------------------------------------------------------- */
#s5_breadcrumb_wrap {text-align: right;}
	


/* Jcomments
----------------------------------------------------------- */
#jc {padding-right:11px; }
#jc h4 { text-align:right;}
#comments-form, #comments-form p, #comments-report-form, #comments-report-form p, #comments-form span, #comments-form .counter {text-align:right;}
#comments-form .btn, #comments-report-form .btn {float:right;margin-right:22px;}
#jc .rbox div, #comments {text-align:right;}


/* Tienda
----------------------------------------------------------- */
div#tienda_products div.product_thumb {float:none;}

/* Virtuemart
----------------------------------------------------------- */

.back-to-category {
float:left;
}

.vm-price-value {
text-align:right;
}

.productdetails-view .addtocart-area, .productdetails-view .manufacturer, .productdetails-view .addtocart-bar {
text-align:right;
}